<div class="row m-2" style="justify-content: space-between">
    <div class="h1" style="color: blue;">
        {{title}}
    </div>
    <div class="parent" style="padding-left: 25px; display: flex; justify-content: flex-end">
        <div class="child">
            <a href="{% url 'home' %}" class="btn btn-primary btn-lg">Home</a>
        </div>
        <div class="child">
            <a href="{% url 'count' %}" class="btn btn-outline-primary">Count Word</a>
        </div>
        <div class="child">
            <a href="{% url 'logout' %}" class="btn btn-outline-primary">Logout</a>
        </div>
    </div>
</div>