{% extends 'Base/base.html' %}
{% load static %}


{% block title %}
  <title>
    About Page
  </title>
{% endblock title %}

{% block content %}
{% include 'base/navbar.html' with title="About" %}
  <p>Hey my name is Nick and I live to count words. Hope you find the count you need!</p>
  However, I made this website mostly in order to test my django skills. By doing this, I learned the basic ideas of django 2.2 framework. Hope I will go a long way in django within a shorter period of time.
{% endblock content %}

{% block footer %}

    <div>Posted by: S.M. Imran Emon || Contact Me: <a href="mailto:sme.imran13@gmail.com">
    sme.imran13@gmail.com</a> || &#169Copyright S.M. Imran Emon, 2019
  </div>
  
{% endblock footer %}
    
