{%load static%}
{%block title%}
<title>Family Information</title>
{%endblock title%}

{% block content %}
    {% include 'base/navbar.html' with title="Home" %}
    
<div style="text-align: center;">
{% for family in families %}
    <div>{{family.spouse_name}}</div>
    <div>{{family.spouse_date_of_birth}}</div>
    <div>{{family.spouse_email}}</div>
    <div>{{family.spouse_NID}}</div>
    <div>{{family.spouse_mobile}}</div>
    <div>{{family.spouse_picture}}</div>
    
    <img src="/media/{{family.spouse_picture}}" alt="">
    <img src="/media/{{family.spouse_NID_picture}}" alt="">
    <div style="margin-bottom: 20px">{{family.child_name}}</div>
    <div style="margin-bottom: 20px">{{family.child_date_of_birth}}</div>
    <img src="/media/{{family.child_picture}}" alt="">


{% endfor %}
</div>
        
        
{% endblock content%}
